<div class="banner" style="background-image: url(<%= image_path 'berlin.jpeg' %>)"; >
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Learn to code with us in Berlin</p>
    <form action="" class="form-group form-inline">
    <input type="text" class="form-control" id="name" placeholder="where?">
    <input type="text" class="form-control" id="name" placeholder="when?">
    <select name="guests" class="form-control" id="guests">
      <option value="1">1 guest</option>
      <option value="2">2 guests</option>
      <option value="3">3 guests</option>
    </select>
    <button type="submit" class="btn btn-primary">book now</button>
    </form>
  </div>
</div>


