<div id="flats">

  <div class="container">
    <div class="row">
      <h2>Recent Flats</h2>
        <!-- insert <div class="card"> -->

      <% data.flats.each do |owner, flat| %>

        <%= partial "components/card", locals: {
          name: owner,
          description: flat.description,
          city: flat.city_name,
          city_slug: flat.city_slug
        } %>

      <% end %>

    </div>
  </div>

</div>

