<div id="flats">

  <div class="container">
    <div class="row">
      <h2>Recent Flats</h2>
        <!-- insert <div class="card"> -->

      <% data.users.each do |user| %>

        <%= partial "components/card", locals: {
          name: user.name,
          description: user.address,
          city: user.city,
          github_nickname: user.github_nickname,
        } %>

      <% end %>

    </div>
  </div>

</div>

