/* ------ COMPONENTS : FOOTER ------ */

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-y--main $padding-x--main;

  .footer-copyright {
    color: $gray;
  }
}

.footer-links > a {
  color: $tumbleweed;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

 }
