/* ------ VARIABLES : BORDERS ------ */


$border--thin-white: 1px solid white;
$border--medium-white: 3px solid white;
$border--large-white: 6px solid white;

$border--thin-gray: 1px solid $gray;
$border--medium-gray: 3px solid $gray;
$border--large-gray: 6px solid $gray;
