// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$font-size-base: 14px;

h1, h2, h3, h4, h5, h6 {
  margin-top: 4px;
  margin-bottom: 2px;
}

p {
  margin-top: .2rem;
  font-size: $font-size-base;
}

a {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: $font-size-base;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
